<h1>Index of Bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= link_to "#{booking.place.name}", booking_path(booking)  %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to 'Accept this booking', accept_booking_path(@booking) %>
</p>

<p>
  <%= link_to 'Decline this booking', decline_booking_path(@booking) %>
</p>

<p>
  <%= link_to 'Add booking', new_booking_path %>
</p>
