<h1>Info about Booking</h1>

<p>Name: <%= @booking.place.name %></p>
<p>Date: <%= @booking.date %></p>





<!-- Não use tag a no rails, sempre use link_to -->
<!-- <a href="/bookings">All bookings</a> -->

<p>
  <%= link_to 'HOME', root_path %>
</p>
