// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "card";
@import "banner";
@import "banner_show";
@import "search-bar";
@import "button";
@import "booking-form";
@import "card-white";
@import "card-trip";
a{
    text-decoration: none !important;
    color: black;
    :hover{
        color: gray;
    }
}


