
<div class='container'>
<div class="cards">
<% @places.each do |place| %>
  <%= link_to place_path(place) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= place.name %>
  </div>
  <% end %>
<% end %>
</div>
</div>
